html {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #0f2e0f;
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-height: 200px;
    width: auto;
}

h1,
h2,
h3 {
    font-weight: strong;
}

a{
    text-decoration: none;
    color: white;
}

button {
    background-color: #e66714;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
}

ul{
    list-style: none;
    text-align: left;
    margin-left: 20px;
    padding: 0;
}