html {
    background-color: lightgreen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body{
    background-color: #0f2e0f;
    color: white;
    text-align: center;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
}

img {
    max-height: 200px;
    width: auto;
}

h1,
h2,
h3 {
    font-weight: strong;
}

h1{
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

button {
    background-color: #e66714;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
}

ul{
    list-style: none;
    text-align: left;
    margin-left: 24px;
    padding: 0;
}

ol{
    text-align: justify;
    margin-right: 24px;
}